<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddEmployeesServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.employees.AddEmployeesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployeesServlet</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListEmployeesServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.employees.ListEmployeesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployeesServlet</servlet-name>
        <url-pattern>/listEmployees</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.employees.EditEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditEmployeeServlet</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.employees.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>AddLocationsServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.locations.AddLocationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLocationsServlet</servlet-name>
        <url-pattern>/addLocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListLocationsServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.locations.ListLocationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLocationsServlet</servlet-name>
        <url-pattern>/listLocations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditLocationServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.locations.EditLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditLocationServlet</servlet-name>
        <url-pattern>/editLocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.locations.DeleteLocationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLocationServlet</servlet-name>
        <url-pattern>/deleteLocation</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.employeesapp.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
